@reference "../../../globals.css";

.container {
    color: #828da0;
    @apply flex flex-col;
}

.container .input {
    border-radius: 0.625rem;
    border: solid 1px #828da0;
    outline: 0;
    @apply px-4 py-2;
}

.checkboxContainer {
    display: flex;
    align-items: center;
}

.checkbox {
    position: absolute;
    display: inline-block;
    gap: 8px;
    cursor: pointer;
}

.checkbox input {
    opacity: 0;
    width: 0;
    height: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    right: 1px;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 4px;
}

.checkbox input:checked + .checkmark {
    background-color: #da291c;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.checkbox input:checked + .checkmark:after {
    display: block;
}

.radioContainer {
    display: flex;
    align-items: center;
    margin: 5px 0;
    height: auto;
    width: auto;
    border-radius: 10px;
    background-color: white;
}

.radio {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    font-size: 16px;
    user-select: none;
}

.radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.radioMark {
    position: absolute;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border-color: #828da0;
    border-width: 1px;
    border-radius: 50%;
}

.radio input:checked ~ .radioMark {
    background-color: black;
    border-color: black;
}

.radioMark:after {
    content: "";
    position: absolute;
    display: none;
}

.radio input:checked ~ .radioMark:after {
    display: block;
}

.radio .radioMark:after {
    top: 5px;
    left: 5px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
