@reference "../../../globals.css";

.dropField {
    width: 100%;
    border: 2px dashed rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin-top: 50px auto;
}

.addFilesButton {
    width: 50px;
    height: 50px;
    margin: 27px auto 10px auto;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    @apply items-center justify-center;
}

.addFilesButton:hover:not(btn-primary-disable) {
    opacity: 0.5;
}

.title {
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    display: block;
    margin: 0 auto;
    margin-bottom: 5px;
    text-align: center;
}

.subtitle {
    font-size: 12px;
    line-height: 14px;
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 27px;
}

.fileItem {
    display: flex;
    align-items: center;
    width: fit-content;
    max-width: 100%;
    gap: 10px;
    height: 40px;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    background-color: #f0f5f8;
    padding: 0 10px;
    position: relative;
    font-size: 12px;
    line-height: normal;
    overflow: hidden;
}

.downloadFileButton {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    top: 0;
    right: 0;
    position: absolute;
    cursor: pointer;
    display: flex;
}

.filesPreview {
    margin-top: 10px;
    margin-bottom: 13px;
}

.topText {
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}

/* 
@media screen and (max-width: 768px) {
    .subtitle {
        display: none;
    }

    .dropField {
        border: none;
    }
} */
